<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Users</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		<div class="board-page">
			<div class="board">
				<p align="right"><%=user_name %>님 환영합니다.<a href="/login/logout"><button>Log-out</button></a></p>
				<h1>사용자 목록</h1>

				<!-- 검색 시작 -->
				<div class="search" align="right">
					<form id="search" action="/users/list/search" method="post">
						<% if (typeof searchword!='undefined') { %>
							<input id="searchKey" name="searchKeyword" type="text" value="<%=searchword%>"/>
						<% } else { %>
							<input id="searchKey" name="searchKeyword" type="text"/>
						<% } %>
						<button type="submit">검색</button>
						<!-- <input id='btnSubmit' type="button" value="검색"> -->
					</form>
				</div>
				<!-- 검색 종료 -->


				<table class="title">
					<tr>
						<th width="20%">번호</th>
						<th width="40%">아이디</th>
						<th width="20%">이름</th>
						<th width="20%">가입일시</th>
					</tr>
				</table>
				<table class="content">
					<% if(status == 'OK'){ %> <!--뒤에껀 없어도 됨-->
						<%if(data.length ==0) { %>
							<tr>
								<td colspan="4">사용자가 없습니다.</td>
							</tr>
						<%} else { %>
							<% data.forEach(function(item, index){%> <!--앞에껀 없어도 됨-->
								<tr>
									<td width="20%"><%=item.uid %></td>
									<td width="40%"><a href="/users/update?uid=<%=item.uid%>"><%=item.login_id %></a></td>
									<td width="20%"><%=item.user_name %></td>
									<td width="20%"><%=item.cdate2 %></td>
								</tr>
							<% }); %>
						<%} %>
					<%} else {%>
					<tr>
						<td colspan="4">에러 잠시후 다시 시도하세요.</td>
					</tr>
					<% } %>
				</table>
				<div align="right"><button id="btn_board_list">게시글 목록</button><button id="btn_user_new">새 유저 등록</button></div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="/javascripts/users.js"></script>
	</body>
</html>